@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --main-bg-color: rgb(14, 13, 78);
}

* {
    margin: 0;
    padding: 0;
}

header {
    /* background: var(--main-bg-color); */
    background-color: rgb(14, 13, 78);
    font-family: 'Merriweather', serif;
    
    /* width: 100vw; */
}

nav ul {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin: 25px;
    list-style: none;
    /* padding: 0px 20px 0px 0px; */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 24px 5px 12px;
    transition: font-weight 0.1s, text-decoration 0.5s, padding 0.5s, background-color 0.5s;
}

nav ul li a:hover {
    background-color: white;
    font-weight: bold;
    padding: 5px 18px 5px 18px;
    color: rgb(14, 13, 78);
    text-decoration: underline;
}

body {
    /* background-color: #ff0083; */
    background-image: linear-gradient(to right top, #ff0083, #ff0083, #e03733, #e40050, #ff0083);
}

main {

    min-height: calc(120vh - 10vh - 10vh);
}
h1{
    margin: 10px;
    text-align: center;
    color: white;
}
.main_container {
    
    margin: 0px 0px 0px 50px;
}

.sub-containers {
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 300px;
    box-shadow: 5px 8px 8px 8px #6e6e6e7d;
}

.picture {
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 10px 7px #bbbbbbb8;
}

.sub-containers p {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.sub-containers a {
    text-decoration: none;
    /* font-weight: bold; */
    color: #ff0083;
    font-size: large;
    font-family: 'Merriweather', serif;
    padding: 10px;
    transition: color 0.5s;
}

.sub-containers a:hover {
    color: blue;
}

.sub-containers a:active {
    color: red;
}

footer {
    height: 10vh;
    background: var(--main-bg-color);
    color: white;
    font-family: 'Merriweather', serif;
}

.flex-all-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}