<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Personal Information System</display-name>
  <welcome-file-list>
    <welcome-file>signup.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Person</display-name>
    <servlet-name>Person</servlet-name>
    <servlet-class>com.servlet.Person</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Person</servlet-name>
    <url-pattern>/Person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonView</display-name>
    <servlet-name>PersonView</servlet-name>
    <servlet-class>com.servlet.PersonView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonView</servlet-name>
    <url-pattern>/PersonView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerosnUpdate</display-name>
    <servlet-name>PerosnUpdate</servlet-name>
    <servlet-class>com.servlet.PerosnUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerosnUpdate</servlet-name>
    <url-pattern>/PerosnUpdate</url-pattern>
  </servlet-mapping>
</web-app>